.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1800px;
    justify-content: space-between;
    
}

.container div{
    background-color: greenyellow;
    border: 2px solid red;
    padding: 10px;
    width: 300px;
  
}